<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
<form method="post" action="/calc">
    <div>
        <input name="num1" placeholder="Первое число">
        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input name="num2" placeholder="Первое число">
        <button type="submit">Результат</button>
    </div>
</form>
</body>
</html>